.container{
  width:100%;
  height:100vh;
  display:flex;align-items: center;justify-content:center;
  /* background: linear-gradient(to bottom right, #000,rgba(0,0,0,0.9),rgba(0,0,0,0.8)); */
  background:#000;
}
.content{
  width:55%;
  height:55vh;
  display: flex;align-items:center;justify-content:center;
  background: #fff;
  box-shadow: 0 0 8px 5px #9e9b9b;
  /* backdrop-filter: blur(5px); */
  border:none;border-radius:10px;
}
form{
  display:flex;align-items:center;justify-content: space-between;flex-direction:column;gap:1rem;
  font-size:1.5rem;
}
form input{
  padding:10px 15px;
  width: 80%;
  /* border: 1px solid #000; */
  box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.5);
  border: none;outline: none;
  border-radius: 10px;
}
form input:focus{
  outline: none;
}
form button{
  padding:10px 20px;
  width:60%;
  border-radius: 8px;
  outline: none;border: none;
  background: #000;
  color:#fff;
}
form button:active{
  background: #fff;color: #000;
}
form p{
  font-size:12px;
}